<h1>Our Products</h1>

<nav>
  <%= link_to "All Products", products_path %> |
  <% Category.all.each do |category| %>
    <%= link_to category.name, category_path(category) %> |
  <% end %>
</nav>

<% @products.each do |product| %>
  <%= render "product_card", product: product %>
<% end %>